Search programmes from 575+ TV channels & past 7 days aired shows.
Share your favourite programmes in your social network.
Explore app in English, Hindi and other regional languages.
Plan your TV viewing by setting a reminder on upcoming programmes.
